<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>GestionBancaireWEB</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CalculServelet</display-name>
    <servlet-name>CalculServelet</servlet-name>
    <servlet-class>tn.ipsas.service.cal.CalculServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalculServelet</servlet-name>
    <url-pattern>/CalculServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShopServelet</display-name>
    <servlet-name>ShopServelet</servlet-name>
    <servlet-class>tn.ipsas.service.shop.ShopServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShopServelet</servlet-name>
    <url-pattern>/ShopServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShopServeletAcceuil</display-name>
    <servlet-name>ShopServeletAcceuil</servlet-name>
    <servlet-class>tn.ipsas.service.shop.ShopServeletAcceuil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShopServeletAcceuil</servlet-name>
    <url-pattern>/ShopServeletAcceuil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjoutCBServelet</display-name>
    <servlet-name>AjoutCBServelet</servlet-name>
    <servlet-class>tn.ipsas.control.AjoutCBServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjoutCBServelet</servlet-name>
    <url-pattern>/AjoutCBServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupprimerCompte</display-name>
    <servlet-name>SupprimerCompte</servlet-name>
    <servlet-class>tn.ipsas.control.SupprimerCompte</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimerCompte</servlet-name>
    <url-pattern>/SupprimerCompte</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServiceServelet</display-name>
    <servlet-name>ServiceServelet</servlet-name>
    <servlet-class>tn.ipsas.control.ServiceServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiceServelet</servlet-name>
    <url-pattern>/ServiceServelet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ServiceCompteBancaire</display-name>
    <servlet-name>ServiceCompteBancaire</servlet-name>
    <servlet-class>tn.ipsas.control.ServiceCompteBancaire</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiceCompteBancaire</servlet-name>
    <url-pattern>/ServiceCompteBancaire</url-pattern>
  </servlet-mapping>
</web-app>